*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


#header{
    background-color: rgb(250, 246, 246);
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    /* justify-content: center;
     position: relative;*/
}
/* @media only screen and (max-width: 2000px) {
    #header {
      background-color: rgb(240, 234, 234);
    } */
.logo{

    margin-left: 40px;
    /*height: 100px; */
    /* position: absolute; */
}

.dropbtn {
    background-color: rgba(243, 111, 40, 0.4);
    color: rgb(0, 0, 0);
    padding: 15px;
    width: 120px;
    height: 50px;
    margin-left: 40px;
    font-size: 16px;
    /* border: none; */
    cursor: pointer;
    display: flex;
    border-radius: 10px;
    border: 1px solid brown;
  }
  /* @media only screen and (max-width: 600px) {
    .bropbtn {
      background-color: lightblue;
    } */
  .dropbtn img{
    margin-top: 1px;
   width: 15px;
   height: 15px;
   margin-left: 5px;
  }
  /* @media only screen and (max-width: 600px) {
    .bropbtn img{
      background-color: lightblue;
    }
   */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* @media only screen and (max-width: 600px) {
    .dropdown {
      background-color: lightblue;
    } */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(249, 193, 163);
    width: 300px;
    height: 180px;
    margin-top: 20px;
    margin-left: 50px;
    overflow: auto;
    border-radius: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    margin-left: 110px;
    padding: 17px 20px;
    text-decoration: none;
    display: flex;
    position: relative;
  }
  .dropdown-content img{
    position: absolute;
    width: 40px;
    margin-top: 20px;
    margin-left: 50px;
  }
  /* @media only screen and (max-width: 1000px) {
    .bropdrown-content img {
      background-color: lightblue;
    } */
  .show {display: block;}

  
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-left: 400px;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(5, 5, 5);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }
  li a:hover{
    color: rgb(189, 85, 44);
  }
  .resister{
    /* position: relative; */
    width: 110px;
    padding: 10px 17px;
    color: brown;
    outline: auto;
    margin-left: 40px;
    background: rgba(221, 212, 208, 0.7);
    border-radius: 6px;
    border: 1px solid rgba(226, 96, 45);
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}


#top-container h1{
    font-size: 70px;
    margin-top: 50px;
    margin-left: 500px;
    color: rgb(94, 7, 116);
}
#top-container img{
    position: relative;
    width: 100%;
    height: 800px;
    /* margin-left: 80px; */
    margin-top: 50px;
    filter: blur(10px);
    
}
.container{
    display: flex;
}
.container1{
    background-color: rgb(255, 255, 255);
    width: 400px;
    height: 600px;
    /* border-radius: 20px; */
    margin-left: 120px;
    margin-top: -700px;
    position: absolute;
    z-index: 2;
}
.container1 img{
    margin-top: 10px;
    width: 350px;
    height: 250px;
    margin-left: 25px;

}
.container1 span{
    font-size: 30px;
    margin-left: 30px;
    /* background-image: url(au-ignite.png); */
}
.container1 p{
    margin-top: 20px;
    margin-left: 30px;
    font-size: 16px;
}



.container2{
    background-color: rgb(255, 255, 255);
    width: 400px;
    height: 600px;
    /* border-radius: 20px; */
    margin-left: 540px;
    margin-top: -700px;
    position: absolute;
    z-index: 2;
}
.container2 img{
    margin-top: 10px;
    width: 350px;
    height: 250px;
    margin-left: 25px;

}
.container2 span{
    font-size: 30px;
    margin-left: 30px;
}
.container2 p{
    margin-top: 20px;
    margin-left: 30px;
    font-size: 16px;
}


.container3{
    background-color: rgb(255, 255, 255);
    width: 400px;
    height: 600px;
    /* border-radius: 20px; */
    margin-left: 960px;
    margin-top: -700px;
    position: absolute;
    z-index: 2;
}
.container3 img{
    margin-top: 10px;
    width: 350px;
    height: 250px;
    margin-left: 25px;

}
.container3 span{
    font-size: 30px;
    margin-left: 30px;
}

.container3 p{
    margin-top: 20px;
    margin-left: 30px;
    font-size: 16px;
}




#footer{
    background: rgba(56, 2, 65);
    width: 100%;
    height: 500px;
    margin-top: 100px;
    display: flex;
    font-family: sans-serif;
}
#footer img{
    margin-top: 60px;
    margin-left: 120px;
}
.footernav ul {
    list-style-type: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 255px;
    margin-left: 150px;
    margin-top: 50px;
  }
  
 .footernav li a {
    font-size: 18px;
    display: inline-block;
    color: #eae0e0;
    padding: 8px 16px;
    text-decoration: none;
  }
  
 .footernav li a:hover {
    color: rgb(246, 126, 67);
  }
.address pre{
   color: rgb(225, 233, 239);
   margin-top: 60px;
   margin-left: 90px;
}
.email{
    color: #f1eaea;
    margin-top: 60px;
    margin-left: 150px;
    cursor: pointer;
}
.icons{
    margin-top: 20px;
    font-size: 30px;
    justify-content: space-between;
    display: flex;
    cursor: pointer;
}

.last-footer hr{
    margin-top: 400px;
    margin-left: -1200px;
    width: 1150px;
    border: 1px solid gray;
}
.last-footer span{
    color: rgb(172, 180, 188);
    margin-top: 40px;
    display: block;
    margin-left: -1300px;
}
.last-footer  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-top: -30px;
    margin-left: -300px
  }
  .last-footer  li a {
    /* margin-left: -100px; */
    display: flex;
    color: rgb(188, 176, 176);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
  }
  .last-footer  li a:hover{
    color: rgb(189, 85, 44);
  }
